.badge {
  padding: 8px 12px;

  border: none;
  border-radius: 0.25em;
}

/* Colors */
.badge--surface-0 {
  background-color: var(--color-surface-0);
  color: var(--color-text);
}

.badge--surface-1 {
  background-color: var(--color-surface-1);
  color: var(--color-text);
}

.badge--background {
  background-color: var(--color-background);
  color: var(--color-text);
}

.badge--blue {
  background-color: var(--color-accent-blue);
  color: #f0efff;
}

.badge--red {
  background-color: var(--color-accent-red);
  color: #f0efff;
}

.badge--green {
  background-color: var(--color-accent-green);
  color: #12111e;
}

.badge--yellow {
  background-color: var(--color-accent-yellow);
  color: #12111e;
}

.badge--orange {
  background-color: var(--color-accent-orange);
  color: #12111e;
}