.persona {
  display: flex;

  text-decoration: none;
}

.persona:hover {
  > .persona__name {
    filter: brightness(1.1);
    text-decoration: underline;
  }
}

.persona:active {
  > .persona__name {
    filter: brightness(0.9);
  }
}

.persona__img {
  width: 32px;
  height: 32px;

  margin-right: 8px;
  border-radius: 50%;
}

.persona__name {
  height: 32px;
  display: flex;
  align-items: center;

  font-size: 1.1em;

  color: var(--color-text);
}
