.heading {
  margin: 0;
}

.alert {
  background-color: var(--color-surface-1);
  width: 480px;

  padding: 8px;
  border-radius: 8px;
}

.alert__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;

  > button {
    margin-left: 8px;
  }
}
