.tooltip__text {
  pointer-events: none;
  user-select: none;

  opacity: 0;
  transform: translateX(var(--_x, 0)) translateY(var(--_y, 0));
  transition: opacity 0.2s ease, transform 0.2s ease;

  position: absolute;
  z-index: 1;
  inline-size: max-content;
  max-inline-size: 25ch;
  padding: 4px;
  border-radius: 5px;
  background: var(--color-surface-0);
  color: var(--color-text);
  will-change: filter;
}

/* create a stacking context for elements with > tool-tips */
.tootlip {
  position: relative;
}

/* top tooltip styles */
> .tooltip__text {
  text-align: center;
}

.tooltip:hover,
.tooltip:active,
.tooltip:focus {
  > .tooltip__text {
    opacity: 1;
    transition-delay: 200ms;
  }
}
