.link--default:hover,
.link--button:hover {
  filter: brightness(1.1);
}

.link--default:active,
.link--button:active {
  filter: brightness(0.9);
}

.link--default {
  color: var(--color-accent-blue);
}

.link--button {
  display: inline-block;

  padding: 8px 12px;

  border: none;
  border-radius: 0.25em;

  cursor: pointer;

  background-color: var(--color-accent-yellow);
  color: var(--color-text);

  font-size: 1em;
  text-decoration: none;
}

.link--arrow {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: var(--color-text);
  font-weight: bold;
  font-size: 1.1em;

  > .arrow {
    margin-left: 8px;

    > path {
      fill: var(--color-accent-blue);
    }
  }

  &:hover {
    > .body {
      filter: brightness(1.1);
      text-decoration: underline;
    }
  }

  &:active {
    > .body {
      filter: brightness(0.9);
    }
  }
}

// Colors ~ Arrow
.link--color--blue > .link--arrow > .arrow > path {
  fill: var(--color-accent-blue) !important;
}

.link--color--red > .link--arrow > .arrow > path {
  fill: var(--color-accent-red) !important;
}

.link--color--green > .link--arrow > .arrow > path {
  fill: var(--color-accent-green) !important;
}

.link--color--yellow > .link--arrow > .arrow > path {
  fill: var(--color-accent-yellow) !important;
}

.link--color--orange > .link--arrow > .arrow > path {
  fill: var(--color-accent-orange) !important;
}

.link--color--surface-0 > .link--arrow > .arrow > path {
  fill: var(--color-accent-surface-0) !important;
}

.link--color--surface-1 > .link--arrow > .arrow > path {
  fill: var(--color-accent-surface-1) !important;
}

.link--color--background > .link--arrow > .arrow > path {
  fill: var(--color-accent-background) !important;
}