.link--default:hover,
.link--button:hover {
  filter: brightness(1.1);
}

.link--default:active,
.link--button:active {
  filter: brightness(0.9);
}

.link--default {
  color: var(--color-accent-blue);
}

.link--button {
  display: inline-block;

  padding: 8px 12px;

  border: none;
  border-radius: 0.25em;

  cursor: pointer;

  background-color: var(--color-surface-0);
  color: var(--color-text);

  font-size: 1em;
  text-decoration: none;
}

.link--arrow {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: var(--color-text);
  font-weight: bold;
  font-size: 1.1em;

  > .arrow {
    margin-left: 8px;

    > path {
      fill: var(--color-accent-blue);
    }
  }

  &:hover {
    > .body {
      filter: brightness(1.1);
      text-decoration: underline;
    }
  }

  &:active {
    > .body {
      filter: brightness(0.9);
    }
  }
}
